/* 

1366px HD-ready screens

*/

/*******************************/
/* BELOW 1360px (Smaller desktops) */
/*******************************/

@media (max-width: 85em) {
  .venues-logos {
    padding: 25rem 20rem 5rem 20rem;
  }

  .venue-banner {
    left: 65%;
  }

  .efandi-content-1 {
    height: 80rem;
  }
}

/*******************************/
/* BELOW 1152px (Smaller desktops) */
/*******************************/

@media (max-width: 72em) {
  html {
    font-size: 56.25%;
  }
}

/*******************************/
/* BELOW 960px (Smaller desktops) */
/*******************************/

@media (max-width: 60em) {
  html {
    font-size: 43.75%;
  }

  .venues-logos {
    padding: 25rem 15rem 5rem 15rem;
    grid-template-columns: repeat(2, 1fr);
  }

  .venue-banner {
    left: 55%;
  }

  .text-content-1 {
    font-size: 2.1rem;
    width: 45%;
  }

  .section-content-1 {
    height: 70vh;
  }

  .efandi-content-1 {
    height: 60rem;
  }

  .venues-logos a img {
    width: 14rem;
  }
}

/*******************************/
/* BELOW 448px (Smaller desktops) */
/*******************************/

@media (max-width: 28em) {
  .venues-logos a img {
    width: 10rem;
  }

  .venue-banner {
    left: 30%;
  }

  .section-content-1 {
    height: 50vh;
  }
}
