/* 

1366px HD-ready screens

*/

/*******************************/
/* BELOW 1360px (Smaller desktops) */
/*******************************/

@media (max-width: 85em) {
  .venues-logos {
    padding: 25rem 20rem 5rem 20rem;
  }

  .venue-banner {
    left: 65%;
  }

  .efandi-content-1 {
    height: 80rem;
  }
}

/*******************************/
/* BELOW 1152px (Landscape tablets) */
/*******************************/

@media (max-width: 72em) {
  html {
    font-size: 56.25%;
  }
}

/*******************************/
/* BELOW 960px (Tablets) */
/*******************************/

@media (max-width: 60em) {
  html {
    font-size: 43.75%;
  }

  .venues-logos {
    padding: 25rem 15rem 5rem 15rem;
    grid-template-columns: repeat(2, 1fr);
  }

  .venue-banner {
    left: 55%;
  }

  .text-content-1 {
    font-size: 2.1rem;
    width: 45%;
  }

  .section-content-1 {
    height: 70vh;
  }

  .section-content-2 {
    height: 70vh;
  }

  .efandi-content-1 {
    height: 60rem;
  }

  .venues-logos a img {
    width: 14rem;
  }
}

/*******************************/
/* BELOW 448px (Phones) */
/*******************************/

@media (max-width: 28em) {
  html {
    font-size: 37.5%;
  }

  .banner-venues {
    height: 15rem;
  }

  .venues-logos {
    padding: 25rem 5rem 5rem 5rem;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5rem;
  }

  .venue-text {
    font-size: 9rem;
  }

  .venues-logos a img {
    width: 8rem;
  }

  .efandi-content-1 {
    height: 60rem;
  }

  .venue-banner {
    left: 30%;
    height: 12.5rem;
  }

  .section-content-1 {
    height: 50vh;
  }

  .btn-mobile-nav {
    display: block;
  }
}
