:root {
  --color-brand--1: #ffde00;
  --color-brand--2: #0012ff;

  --color-dark--1: #080e13;
  --color-dark--2: #1a2025;
  --color-light--1: #aaa;
  --color-light--2: #f3eaea;
  --color-light--3: rgb(214, 222, 224);
}

/* 

1366px HD-ready screens

*/

/*******************************/
/* BELOW 1696px (Big desktops) */
/*******************************/

@media (max-width: 106em) {
  .efandi-content-1 {
    height: 80rem;
  }

  .venue-text {
    font-size: 53rem;
  }
}

/*******************************/
/* BELOW 1440px (Smaller desktops) */
/*******************************/

@media (max-width: 91em) {
  .venues-logos {
    padding: 25rem 20rem 5rem 20rem;
  }

  .venue-banner {
    left: 65%;
  }

  .efandi-content-1 {
    height: 75rem;
    margin-top: 2%;
  }

  .venue-text {
    font-size: 45rem;
  }

  .nav-menu {
    gap: 10rem;
  }
}

/*******************************/
/* BELOW 1280px (Smaller desktops) */
/*******************************/

@media (max-width: 80em) {
  .efandi-content-1 {
    height: 80rem;
    margin-top: 1%;
  }

  .venue-text {
    font-size: 40rem;
  }

  .nav-menu {
    gap: 8rem;
  }
}

/*******************************/
/* BELOW 1152px (Landscape tablets) */
/*******************************/

@media (max-width: 72em) {
  html {
    font-size: 56.25%;
  }

  .venue-text {
    font-size: 35rem;
  }
}

/*******************************/
/* BELOW 1024px (Larger laptops) */
/*******************************/

@media (max-width: 64em) {
  .efandi-content-1 {
    height: 70rem;
  }

  .venue-text {
    font-size: 35rem;
  }

  .nav-menu {
    gap: 5rem;
  }

  .efandi-logo-nav {
    transform: translateX(-50%);
  }
}

/*******************************/
/* BELOW 960px (Tablets) */
/*******************************/

@media (max-width: 60em) {
  html {
    font-size: 43.75%;
  }

  .venues-logos {
    padding: 25rem 15rem 5rem 15rem;
    grid-template-columns: repeat(3, 1fr);
  }

  .venue-banner {
    left: 55%;
  }

  .text-content-1 {
    font-size: 2.1rem;
    width: 45%;
  }

  .section-content-1 {
    height: 70vh;
  }

  .section-content-2 {
    height: 70vh;
  }

  .efandi-content-1 {
    height: 70rem;
  }

  .venues-logos a img {
    width: 10rem;
  }

  .efandi-logo-nav {
    height: 13rem;
    width: auto;
  }
}

/*******************************/
/* BELOW 768px (Larger tablets and smaller laptops) */
/*******************************/

@media (max-width: 48em) {
  .efandi-content-1 {
    height: 70rem;
  }

  .efandi-logo-nav {
    height: 11.5rem;
    width: auto;
  }
}

@media (max-height: 38em) {
  .section-content-2,
  .section-content-3 {
    height: 120vh;
  }

  .section-content-1 {
    height: 90vh;
  }
}

@media (max-height: 28em) {
  .section-content-2,
  .section-content-3 {
    height: 150vh;
  }

  .efandi-content-1 {
    height: 50vh;
  }

  .section-content-4 {
    height: 90vh;
  }
}

/*******************************/
/* BELOW 480px (Phones landscape mode) */
/*******************************/

@media (max-width: 30em) {
  html {
    font-size: 37.5%;
  }

  .sticky-nav {
    padding: 2rem 2rem;
  }

  .banner-venues {
    height: 15rem;
  }

  .venues-logos {
    padding: 25rem 5rem 5rem 5rem;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5rem;
  }

  .venue-text {
    font-size: 25rem;
  }

  .venues-logos a img {
    width: 8rem;
  }

  .efandi-content-1 {
    height: 90rem;
  }

  .venue-banner {
    left: 30%;
    height: 12.5rem;
  }

  .section-content-1 {
    height: 80vh;
  }

  .btn-mobile-nav {
    display: block;
    z-index: 70;
    color: var(--color-brand--1);
    padding: 1rem;
  }

  .nav-menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(-100%);

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 60;
    transition: all 1s ease-out;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }

  .efandi-logo-nav {
    height: 10rem;
    width: auto;
    transform: translateX(-40%);
  }

  .sm-menu a img {
    height: 2rem;
  }

  .sm-menu {
    gap: 2rem;
  }

  .mobile-icons {
    height: 3rem;
  }

  .nav-menu a {
    font-size: 6rem;
    margin-bottom: 2rem;
  }

  .nav-menu-open .nav-menu {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0%);
    backdrop-filter: blur(10px);
    background: transparent;
  }

  .nav-menu-open .mobile-icons[name="close-outline"] {
    display: block;
  }

  .nav-menu-open .mobile-icons[name="menu-outline"] {
    display: none;
  }

  .header {
    justify-content: space-between;
  }

  .sticky-nav {
    width: auto;
  }

  .grid-6 p {
    margin-left: 4rem;
  }

  .section-content-3 {
    height: 60vh;
  }

  .venues-logos {
    margin-top: -19rem;
  }
}

/*******************************/
/* BELOW 320px (Phones portrait mode) */
/*******************************/
