:root {
  --color-brand--1: #ffde00;
  --color-brand--2: #0012ff;

  --color-dark--1: #080e13;
  --color-dark--2: #1a2025;
  --color-light--1: #aaa;
  --color-light--2: #f3eaea;
  --color-light--3: rgb(214, 222, 224);
}

@font-face {
  font-family: "Efandi";
  src: url("/Fuentes/Concretica/SK-Concretica-Trial.ttf") format("truetype");
}

@font-face {
  font-family: "Efandi-other";
  src: url("/Fuentes/Other/Other-Bold.otf") format("truetype");
}

@font-face {
  font-family: "Efandi-pixel";
  src: url("/Fuentes/Other/Other-PixelBold.otf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: "Efandi", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/*********************************/
/* REUSABLE COMPONENTS */
/*********************************/

::-webkit-scrollbar {
  width: 1.3rem;
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(180deg, #ffde00, #0012ff);
}

::-webkit-scrollbar-track {
  background-color: #080e13;
}

#sndFrame {
  background-color: #0012ff;
}

/*********************************/
/* HEADER */
/*********************************/

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 5rem;
}

.sticky-nav {
  height: 12rem;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 6rem;
  max-width: 220rem;
  width: 100%;
}

.nav-menu,
.sm-menu {
  display: flex;
  align-items: center;
  gap: 3rem;
  z-index: 10;
}

.nav-menu a,
.sm-menu a {
  color: var(--color-brand--1);
  font-size: 3.2rem;
  text-decoration: none;
  font-family: "Efandi-other", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.sm-menu a img {
  height: 2.4rem;
}

/* MOBILE */

.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;

  display: none;
}

.mobile-icons {
  height: 4.8rem;
  width: 4.8rem;
  color: var(--color-brand--1);
}

.mobile-icons[name="close-outline"] {
  display: none;
}

/*********************************/
/* HERO SECTION */
/*********************************/

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

.hero-section {
  background-color: transparent;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  max-width: 220rem;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.efandi-logo img {
  width: 100%;
  max-width: 220rem;
}

.scroll-down {
  color: var(--color-brand--1);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  position: absolute;
  top: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
}

.scroll-down span {
  font-size: 4rem;
}

/*********************************/
/* FIRST SECTION CONTENT */
/*********************************/

.section-content-1 {
  height: 100vh;
  background-color: var(--color-brand--1);
  overflow: hidden;
  max-width: 220rem;
  width: 100%;
  position: relative;
}

.text-content-1 {
  margin: 0 auto;
  z-index: 10;
  width: 35%;
  font-size: 2.5rem;
  text-align: left;
  font-weight: 600;
  line-height: 1.5;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.efandi-content-1 {
  height: 80rem;
  width: 2458rem;
  background: url(2/CopyFondo.png) repeat-x;
  animation: move 30s linear infinite;
  background-size: contain;
}

.banner {
  height: 80%;
  animation: move 25s linear infinite;
}

.banner img {
  width: auto;
}

@-webkit-keyframes move {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  to {
    -webkit-transform: translate3d(-819rem, 0, 0);
    transform: translate3d(-819rem, 0, 0);
  }
}

@keyframes move {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-819rem, 0, 0);
  }
}

/*********************************/
/* SECOND SECTION CONTENT */
/*********************************/

.section-content-2 {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(2, 1fr);
  height: 120vh;
  max-width: 220rem;
  width: 100%;
}

.grid-6 {
  position: relative;
  display: flex;
  align-items: center;
}

.small-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10rem;
  z-index: 1;
}

.img-1 {
  background-image: url("Fotos/CLOSE\ -\ Zoom.jpg");
  background-size: cover;
  filter: grayscale(100%) brightness(50%);
}

.img-2 {
  background-image: url("Fotos/Deepday\ Aniversario.jpg");
  background-size: cover;
  filter: grayscale(100%) brightness(50%);
}

.img-3 {
  background-image: url("Fotos/Madradio\ -\ Efandi\ x\ Lata.jpg");
  background-size: cover;
  filter: grayscale(100%) brightness(50%);
}

.img-4 {
  background-image: url("Fotos/MadradioMichaelJacksonThriller40.jpg");
  background-size: cover;
  filter: grayscale(100%) brightness(50%);
}

.img-5 {
  background-image: url("Fotos/SundayDTX.jpg");
  background-size: cover;
  filter: grayscale(100%) brightness(50%);
}

.img-6 {
  background-image: url("Fotos/VideoClub.jpg");
  background-size: cover;
  filter: grayscale(100%) brightness(50%);
}

.small-container:hover {
  filter: grayscale(0%) brightness(100%);
  cursor: pointer;
  transition: ease-in-out 0.75s;
}

.grid-6 p {
  color: var(--color-light--2);
  font-size: 3rem;
  text-align: left;
  font-weight: 300;
  position: relative;
  z-index: 2;
  margin-left: 10rem;
}

/*********************************/
/* THIRD SECTION CONTENT */
/*********************************/

.section-content-3 {
  background-color: black;
  display: flex;
  flex-direction: column;
  max-width: 220rem;
  width: 100%;
  overflow: hidden;
}

.venues-logos {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  grid-gap: 9rem;
  padding: 25rem 30rem 15rem 30rem;
  margin-top: -18rem;
}

.venues-logos a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.venues-logos a img {
  height: fit-content;
  width: 15rem;
  cursor: pointer;
  object-fit: contain;
}

.venues-logos a img:hover {
  filter: brightness(0.8) sepia(1) saturate(350%) hue-rotate(360deg);
}

/*
.banner-venues {
  font-size: 2.5rem;
  color: var(--color-light--2);
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.banner-text {
  text-align: center;
  margin: 0;
  animation: banner-animation 120s linear infinite;
  white-space: nowrap;
  margin-bottom: 4rem;
  text-overflow: clip;
}

@-webkit-keyframes banner-animation {
  from {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
  to {
    -webkit-transform: translateX(-150%);
    transform: translateX(-150%);
  }
}


@keyframes banner-animation {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-150%);
  }
}
*/

.venue-banner {
  width: 80rem;
  height: 15rem;
  transform: rotate(45deg);
  background-color: var(--color-brand--1);
  position: relative;
  left: 73%;
  top: 10rem;
  display: flex;
  padding: 1.3rem;
}

.venue-text {
  color: var(--color-brand--2);
  font-size: 12rem;
  animation: banner-venue-animation 5s linear infinite forwards;
  font-family: "Efandi-pixel", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

@-webkit-keyframes banner-venue-animation {
  from {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
  to {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

@keyframes banner-venue-animation {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

/*********************************/
/* FOURTH SECTION CONTENT */
/*********************************/

.img-bck-sound {
  height: 80rem;
  padding: 5rem;
  animation: move-snd 20s linear infinite;
}

.soundcloud {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 10;
  width: 100%;
}

.section-content-4 {
  height: 50vh;
  background-color: var(--color-brand--1);
  position: relative;
  max-width: 220rem;
  width: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.banner-sound {
  position: absolute;
  display: flex;
}

.banner-sound img {
  width: auto;
}

.delay {
  animation: move-snd-2 20s linear infinite;
  animation-delay: -10s;
  height: 80rem;
  padding: 5rem;
}

@-webkit-keyframes move-snd {
  from {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

@keyframes move-snd {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@-webkit-keyframes move-snd-2 {
  from {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
  to {
    -webkit-transform: translateX(-200%);
    transform: translateX(-200%);
  }
}

@keyframes move-snd-2 {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-200%);
  }
}

/*********************************/
/* FOOTER */
/*********************************/

footer {
  background-color: var(--color-dark--1);
  height: 18vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  font-size: 3rem;
  color: var(--color-light--2);
}

footer a {
  color: var(--color-light--2);
}

footer a:hover {
  color: var(--color-brand--1);
  transition: 0.5s;
}

footer div img {
  height: 2rem;
}
